[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
branca = "*"
dask-geopandas = ">=0.1.3"
dask-labextension = "*"
esda = "*"
folium = "*"
geopandas = ">=0.11"
graphviz = "*"
jupyterlab = "*"
mapclassify = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
pyarrow = "*"
pyogrio = "*"

[dev-packages]
